<div class="flex flex-wrap justify-center">
    @for (project of projectData; track $index) {
    <div class="inline-block md:w-[25vw] w-[30vw] m-4 bg-white rounded-xl shadow-lg overflow-hidden hover:shadow-xl">
        <div class="p-6">
            <div class="flex justify-end">
                <span *ngIf="_authService.getUserID() === project.ownerId"
                    class="mr-2 mb-2 px-3 py-1 bg-indigo-100 text-red-800 text-xs font-medium rounded-full">Owner</span>
            </div>
            <h2 class="font-bold text-2xl mb-2 text-gray-800">{{project.title}}</h2>
            <p class="text-sm text-gray-600 mb-4">Created by <span class="font-semibold">{{project.ownerName}}</span>
            </p>

            <div class="mb-4">
                <h3 class="text-xs uppercase font-bold text-gray-500 mb-2">Technologies</h3>
                <div class="flex flex-wrap">
                    @for (item of project.technologies; track $index) {
                    <span
                        class="mr-2 mb-2 px-3 py-1 bg-blue-100 text-blue-800 text-xs font-medium rounded-full">{{item.name}}</span>
                    }
                </div>
            </div>

            <div>
                <h3 class="text-xs uppercase font-bold text-gray-500 mb-2">Collaboration Skills</h3>
                <div class="flex flex-wrap">
                    @for (item of project.collabSkills; track $index) {
                    <span
                        class="mr-2 mb-2 px-3 py-1 bg-indigo-100 text-indigo-800 text-xs font-medium rounded-full">{{item}}</span>
                    }
                </div>
            </div>
        </div>

        <div class="px-6 py-4 bg-gray-50 border-t border-gray-200">
            <button
                class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 transition duration-300 ease-in-out"
                routerLink="/home/project/{{project._id}}">
                View Project
            </button>
        </div>
    </div>
    }
</div>