<!-- <div class="" (click)="signOut()">sign out</div> -->

<div class="card">
    <p-toolbar styleClass="bg-gray-900 shadow-2" class="bg-blue-900 text-white">
        <ng-template pTemplate="start">
            <div class="font-bold text-xl">ProjecTeam</div>
        </ng-template>
        <ng-template pTemplate="center">
            <div class="flex flex-wrap align-items-center gap-3">
                <button routerLink="explore" pTooltip="Home" tooltipPosition="bottom"
                    class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200">
                    <i class="pi pi-home text-2xl mr-2"></i>
                    <!-- <div>Home</div> -->
                </button>
                <button pTooltip="Dashboard" tooltipPosition="bottom"
                    class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200">
                    <i class="pi pi-objects-column text-2xl mr-2"></i>
                    <!-- <div>Dashboard</div> -->
                </button>
                <button routerLink="add-project" pTooltip="Add project" tooltipPosition="bottom"
                    class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200">
                    <i class="pi pi-plus text-2xl mr-2"></i>
                    <!-- <div>Notifications</div> -->
                </button>
                <button pTooltip="Notifications" tooltipPosition="bottom"
                    class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200">
                    <i class="pi pi-bell text-2xl mr-2"></i>
                    <!-- <div>Notifications</div> -->
                </button>
            </div>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="flex align-items-center gap-2">
                <span class="font-bold text-bluegray-50 cursor-pointer" (click)="_loginAuthService.singOut()">
                    Sign Out
                </span>
            </div>
        </ng-template>
    </p-toolbar>
</div>
<div class="mt-6">
    <router-outlet></router-outlet>
    <!-- <app-add-project></app-add-project> -->
    <!-- <app-explore></app-explore> -->
    <!-- <app-project-view></app-project-view> -->
</div>