<div class="flex flex-col items-center">
    <div>
        <p-floatLabel class="relative">
            <input pInputText id="username" [(ngModel)]="projectTitle" class="input-box w-[95vw]" />
            <label for="username" class="absolute left-5" appAsterik>Project Title</label>
        </p-floatLabel>
    </div>
    <div class="w-[95vw] mt-4">
        <div appAsterik>Project Description</div>
        <p-editor [(ngModel)]="projectDescription" [style]="{ height: '320px', border: '2px solid black' }" />
    </div>

    <div class="self-start ml-7 mt-4 border-2 border-black rounded-md">
        <p-multiSelect [options]="allTechnologies" [showToggleAll]="true" [(ngModel)]="selectedTechnologies"
            optionLabel="name" [virtualScroll]="true" [virtualScrollItemSize]="43"
            class="multiselect-custom-virtual-scroll" placeholder="Select Technologies">
        </p-multiSelect>
    </div>

    <div class="card p-fluid input-box w-[95vw] rounded-md mt-4">
        <p-chips [(ngModel)]="collabSkills" placeholder="Add extra skills for collaboration" />
    </div>

    <div (click)="addProject()" class="mt-4 create-project-button">Create Project</div>
</div>